<p>this is a form where you can EDIT an existing record</p>

<form action="/artworks/<%= @artwork.id %>" method="post">
  <label for="artwork[location]">location</label>
  <input type="text" value="<%= @artwork.location %>" name = "artwork[location]">
  <label for="artwork[artist]">artist</label><input type="text" value="<%= @artwork.artist %>" name = "artwork[artist]">
  <label for="artwork[name]">Title</label><input type="text" value="<%= @artwork.name %>" name = "artwork[name]">
  <label for="artwork[description]">description</label><input type="text" value="<%= @artwork.description %>" name="artwork[description]">
  <label for="artwork[likes]">likes</label><input type="text" value="<%= @artwork.likes %>" name = "artwork[likes]">
  <input type="submit" value="Update">
</form>